body {
    font-family: sans-serif;
}

.container{
    width :380px;
    margin:auto;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.1);
}

.header{
    text-align: center;
    padding-top: 75px;
}
.header h1{
    color: #333;
    font-size: 45px;
}
.login_form{
    text-align: center;
}

.login_form input, button {

    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 15px;
    color: #333;
    margin-bottom: 40px;
}
.login_form button {

    padding-left: 0;
    background-color: #83acf1;
    letter-spacing: 1px;
    font-weight: bold;
}


.login_form span{
    position: relative;

}
.login_form i {
    position: absolute;
    left: 15px;
    color: #333;
    font-size: 16px;
    top: 2px;
}